.app{
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.app_body{
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}